/* Header */


@media (max-width: 750px) {
    .menu__list {
        display: none;
    }

    .burger__menu {
        display: block;
        padding-right: 40px;
    }

    .header__logo {
        margin-left: 15px;
    }
}

/* Section Hero*/

@media (max-width: 800px) {

    .hero {

        row-gap: 50px;
        padding-top: 150px;
    }

    .hero__title {
        font-size: 30px;
        font-weight: 100;
        line-height: 50px;

    }

    .hero__title span {

        color: white;
        font-size: 34px;
        font-weight: 300;
        line-height: 50px;
    }

    .arrow__down__img {
        padding-bottom: 90px;
    }

}

/* Section two "Clients"*/

@media (max-width: 1100px) {

    .clients {
        padding-bottom: 150px;
    }

    .clients__logo {
        column-gap: 20px;
    }
}

@media (max-width: 930px) {
    .clients__logo {
        column-gap: 10px;
    }
}

@media (max-width: 900px) {

    .clients {
        padding-bottom: 100px;
    }

    .client__img {
        width: 145px;
        height: 135px;
    }

    .clients__logo {
        column-gap: 20px;
    }
}

@media (max-width: 670px) {

    .client__img {
        width: 105px;
        height: 100px;
    }

    .clients__logo {
        column-gap: 20px;
    }
}

@media (max-width: 800px) {

    .clients___text {
        padding-bottom: 30px;
        margin-left: 20px;
    }

    .clients___txt {
        font-size: 26px;
        font-weight: 80;
        line-height: 30px;

    }

    .clients___txt span {

        color: white;
        font-size: 28px;
        font-weight: 150;
        line-height: 40px;
    }


}

/* Section three "Portfolio"*/

@media (max-width: 1220px) {

    .portfolio {
        margin-left: auto;
        margin-right: auto;
    }


    .portfolio__section {
        column-gap: 10px;
        margin-bottom: 20px;
        padding-right: 0px;
        margin-right: 0px;

    }


}


@media (max-width: 1100px) {

    div>.adaptive {
        display: block;
    }

    div>.portfolioMain {
        display: none;
    }

    .portfolio__section {
        display: block;


    }

    .portfolio__text {
        padding-top: 20px;
    }

    .portfolio__title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 38px;
        font-weight: 180;
    }

    .portfolio__text {
        width: auto;
    }

    .portfolio__button {
        margin-left: auto;
        margin-right: auto;
    }

    .header__portfolio,
    .portfolio__txt,
    .portfolio__subtext {
        text-align: center;
    }

    .portfolio__img {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 800px) {
    .portfolio__title {
        font-size: 30px;
        font-weight: 100;
    }
    .portfolio__title span {
        font-size: 32px;
        font-weight: 100;
    }

}

@media (max-width: 630px) {
    .portfolio__txt {

        font-size: 20px;
        font-weight: 150;
        line-height: 24px;


    }

    .portfolio__txt span {
        font-size: 22px;
        font-weight: 300;
    }

    .header__portfolio {

        font-size: 14px;
        font-weight: 300;
        line-height: 12px;
    }
}
@media (max-width: 630px) {
    .portfolio__img {
        height: 310px;
        width: 430px;
        left: 0px;
        top: 0px;
    
    
    }
}
